@model DNDCharSheet.Models.Characters

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Characters</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.charName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charRace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charRace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charExpPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charExpPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charBackground)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charBackground)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charSubrace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charSubrace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charHeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charEquipWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charEquipWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charLifestyle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charLifestyle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charDiety)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charDiety)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charAlightment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charAlightment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charPersonalityTraits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charPersonalityTraits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charIdeals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charIdeals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charBonds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charBonds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charFlaws)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charFlaws)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charProficencies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charProficencies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charFeatures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charFeatures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charTraits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charTraits)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
